@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin";

@font-face {
  font-family: 'genshin-font';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/genshin-font-85W.eot'); /* IE9 Compat Modes */
  src: local('genshin-font'), local('genshin-font'),
       url('./assets/genshin-font-85W.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/genshin-font-85W.woff') format('woff'), /* Modern Browsers */
       url('./assets/genshin-font-85W.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ag-theme-material {
  @include ag-theme-material((
    background-color:#181E24,
    foreground-color:#d8e0e6,
    material-primary-color:#0091C1,
    material-accent-color:#cca574
  ));

  --ag-header-background-color:#181E24;
  --ag-header-foreground-color:#fff;
  --ag-row-hover-color:#2B343B;
  --ag-selected-row-background-color:#2B343B;
  --ag-header-cell-hover-background-color:#2B343B;
  --ag-checkbox-unchecked-color:#d8e0e6;
 
  font-size: 12px;
}